.container {
    display: flex;
    justify-content: center;
    flex-direction: column; /* Render buttons below flashcard */
    align-items: center;
    min-height: 100vh; /* Full height of the viewport */
}

.navbuttoncontainer {
    display: flex;
    justify-content: space-between; /* Space buttons evenly */
    width: 90%; /* Make the button container width responsive */
    max-width: 300px; /* Max width to maintain readability */
    padding: 16px;
}

.buttoncontainer {
    display: flex;
    justify-content: center;
    width: 90%; /* Make the button container width responsive */
    max-width: 300px; /* Max width to maintain readability */
    padding: 10px;
}

.flashcard {
    width: 90%; /* Make the flashcard width responsive */
    max-width: 500px; /* Max width to maintain readability */
    border: 1px solid #000;
    border-radius: 10px; /* Rounded corners */
        -webkit-border-radius: 10px; /* Rounded corners for Safari */
    drop-shadow(8px 8px 6px black)
        -webkit-box-shadow: 8px 8px 6px black; /* Drop shadow for Safari */
        -moz-box-shadow: 8px 8px 6px black; /* Drop shadow for Firefox */
    box-shadow: 8px 8px 6px black; /* Drop shadow for standard browsers */
    padding: 10px;
    box-sizing: border-box; /* Ensure padding and border are included in the element's total width and height */
    word-wrap: break-word; /* Allow long words to be able to break and wrap onto the next line */
}

.flashcard h3 {
    margin: 0;
}
