<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Flashcards</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div class="container">
    <div class="flashcard">
        <h3>Question:</h3>
        <p id="question">Loading...</p>
        <h3>Answer:</h3>
        <p id="answer">Loading...</p>
    </div>
    <div class="buttoncontainer">
        <button onclick="prevFlashcard()">Previous</button>
        <button onclick="nextFlashcard()">Next</button>
    </div>
</div>
<script src="/flashcards.js"></script>
</body>

</html>
